.admin-info-container{
  grid-area: admin-info;
  overflow-x: auto;
  display: grid;
 align-items: flex-start;
  justify-content: center;
  padding: 1rem;
  margin: 1rem;
  

}

.admin-info-container table{
  padding: 1rem;
  width: 100%;
  border: 1px solid;

}
.admin-info-container table td{
  text-align: center;
  padding: 1rem;
}