.admin-sidebar{
  display: flex;
  flex-direction: column;
  max-width: 25vh;
  min-width: 0vh;
  padding: 1 rem;
  background-color: #143D60;
  max-height: 100vh;
  position: relative;

  transition: all .5s ease-in-out;
  grid-area: admin-sidebar;
}
.X{
  position: absolute;
  right: 0;
   color: #FDFAF6;
}
.admin-menu{
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: sticky;
  padding: 1rem;
  gap: 20px;
  align-items: start;
  
}
.admin-sidebar:hover{
  left: 0;
  
}
.admin-option{
 
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  padding: .5rem;
  border-radius: 10px;
  transition: all .5s ease-in-out;
  color: #FDFAF6;
}
.admin-option:hover{
  background-color: #336D82;
}