.layout {
  display: flex;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows:  auto;
  grid-template-areas: "header header header"
  "sidebar main-content main-content"
  "sidebar main-content main-content"
  "sidebar main-content main-content"
  ;
}

.layout-body {
  display: grid;
  flex-grow: 1;
  gap: 16px;
  padding: 16px;
}

.main-content {
  grid-area: main-content;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.header {
  grid-area: header;
  background-color: #f5f5f5;
  padding: 12px 16px;
  border-bottom: 1px solid #ddd;
}
.sidebar{
  grid-area: sidebar;
}