.admin-products-container{
  grid-area: product-container;
  overflow-x: auto;
  display: grid;
  align-items: flex-start;
  justify-content: center;
  padding: 1rem;
  margin: 1rem;

}
.admin-products-container table{
  padding: 1rem;
  width: 100%;
  border: 1px solid;

}
.admin-products-container table td{
  text-align: center;
  padding: 1rem;
  width: 50px;
}