.admin-products-container{
 
  display: grid;
  align-items: flex-start;
  justify-content: center;
  padding: 1rem;
  margin: 1rem;

}
.admin-products-container table{
  padding: 1rem;
  width: 100%;
  border: 1px solid;

}
.admin-products-container table td{
  text-align: center;
  padding: 1rem;
  width: 50px;
}

@media (max-width:1000px){
  .admin-products-container{
    overflow-x: auto;
 
  }
  .admin-products-container table{
    width: 100%;
    min-width: 600px;
  }
  .admin-products-container table td{
    text-align: center;
    padding: 1rem;
    width: 2px;
  }
}

@media (max-width:600px){
  .admin-products-container{
    overflow-x: auto;
 
  }

  
}