.signup-container{
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 10px;
  height: 100vh;
  text-align: center;
  background-color: #f0f2f5;
}
.signup-container h1{
  margin-bottom: 1rem;
}
.signup-wrapper{
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 1rem;
  border-radius: 10px;
}
.err-msg{
  color: red;
  margin-top: 10px;
  font-size: 0.9rem;
  text-align: center;
}
.signup-btn{
  width: 100%;
  max-width: 200px;
  padding: 10px;
  font-size: 1rem;
  border-radius: 8px;
  border: none;
  background-color: #04682e;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.signup-btn:hover {
  background-color: #079442;

}

.login-btn:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}